#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

# Add here any variable or target overrides you need.
DEB_MAKE_ENVVARS = CTEST_OUTPUT_ON_FAILURE=ON
DEB_BUILD_PARALLEL = true

DEB_CMAKE_EXTRA_FLAGS = -Denable_testing=ON -Dbuild_sandbox=ON -DCMAKE_C_FLAGS="-target $(DEB_HOST_GNU_TYPE)" -DCMAKE_CXX_FLAGS="-target $(DEB_HOST_GNU_TYPE)"

DEB_MAKE_CHECK_TARGET = test

ifeq ($(shell (dpkg-architecture -qDEB_BUILD_ARCH | egrep -q "amd64") && echo "yes"),yes)
	DEB_CMAKE_EXTRA_FLAGS += -Dbuild_doc=ON
else
	DEB_CMAKE_EXTRA_FLAGS += -Dbuild_doc=OFF
endif

CC=/usr/bin/clang 
CXX=/usr/bin/clang++
